# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# Project exclude paths
/packages/database-prisma/src/mappers/txn-log.mapper.js
/packages/database-prisma/src/mappers/util-type.mapper.js
/packages/database-prisma/src/transactions/index.js
/packages/database-prisma/src/transactions/transaction.da.js
/packages/database-prisma/index.d.ts
/packages/database-prisma/index.js
/packages/domain/src/domain/consent.model.js
/packages/domain/src/domain/consent-data.model.js
/packages/domain/src/domain/consent-data-schema.model.js
/packages/domain/src/domain/consent-request.model.js
/packages/domain/src/domain/email.model.js
/packages/domain/src/domain/org.model.js
/packages/domain/src/domain/transaction.model.js
/packages/domain/src/domain/user.model.js
/packages/domain/index.d.ts
/packages/domain/index.js